{% assign collection = collections[section.settings.collection] %}

{% assign product_limit = 5 %}
{% assign products = collection.products %}
{% assign onboarding = false %}

<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-featured-collection">
</script>

<section class="product-row--container featured-collection--container">
  <div class="home-section--content product-row" data-product-row>
    {% for product in products limit: product_limit %}
      {%
        include 'product-grid-item',
        product: product
      %}

    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Featured collection",
  "settings": [

    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}

{% endschema %}
